{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}
<div class="card shadow" style="width: 50%; margin-left: 25%; margin-top: 2%;">
  <form method="POST">
    <div class="card-header bg-info text-black font-weight-bold">
      <h3 align="center">Login with OTP</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="otp">OTP Code</label>
        <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP if you have one">
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <!-- Request OTP button -->
        <button type="submit" name="action" value="request" class="btn btn-secondary">
          Request OTP
        </button>

        <!-- Submit OTP button -->
        <button type="submit" name="action" value="submit" class="btn btn-primary">
          Submit OTP
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
